:root {
    --color-black: #000000;
    --color-light-black:#41413F;
    --color-pink:#ff7b90;
    --color-gray:#A2A2A2;
    --color-light-gray:#CFCFCD;
    --color-beige:#F1EFE9;
    --color-light-beige:#E8E5E3;
    --color-white: rgba(250, 250, 250);
    --font-largest:24px;
    --font-large:18px;
    --font-defualt:16px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
    --padding-big:16px;
    --padding-default:12px;
    --padding-small:8px;
    --padding-micro:4px;
    --zIndex-top:100;
    --zIndex-topNav:90;
    --zIndex-sideNav:80;
    --zIndex-middle:50;
    --zIndex-bottomNav:0;
}

*{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: var(--zIndex-middle);
}
body{
    height: 100vh;
}

ul{
    list-style: none;
}

button{
    border: none;
    background-color: transparent;
    font-size: var(--font-medium);
    cursor: pointer;
}

a{
    text-decoration: none;
}

.m_header_nav {
    position: fixed;
    z-index: var(--zIndex-middle);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-default);
    background-color: transparent;


    button{
        font-size: var(--font-largest);
        color:var(--color-light-beige)
    }

    .hamburger_btn{

    }

    .function_list{
        display: flex;
        font-size: var(--font-large);

        li{
            display: flex;
            margin-right: var(--padding-default) ;
        }

        .follow_btn,
        .recommend_btn{
            color: var(--color-gray);

        }

        .active{
            color: var(--color-light-beige);
            text-decoration-line:underline;
            text-underline-offset : 10px;
        }
    }
}

.m_bottom_nav{
    height: 55px;
    background-color: var(--color-black);
    position: fixed;
    width: 100%;
    bottom: 0;

    .bottom_nav_btn_list{
        display: flex;
        justify-content: space-around;
        margin: var(--padding-micro) 0;

        button{
            display: flex;
            flex-direction: column;
            font-size: var(--font-medium);
            color: var(--color-light-beige);
            margin:0 auto;
            align-items: center;

            i{
                padding: 5px;
                width: 100%;
                height: 100%;
                font-size: var(--font-large);
            }


        }
        img{
            filter:invert(99%) sepia(1%) saturate(638%) hue-rotate(323deg) brightness(89%) contrast(105%);
            width: 45px;
            height: 45px;
        }
    }
}
.m_video_section {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    width: 100%;
    margin: 0;

    .video_view{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: relative;
        width: 100%;
    }

    video{
        width: 100%;
        margin: auto;
    }

    .video_blur_screen{
        z-index: var(--zIndex-bottom);
        position: absolute;
        width: 100%;
        height: 100vh;
        -o-filter: blur(15px);
        filter: brightness(20%) opacity(90%);
    }

    .play_btn {
        z-index: var(--zIndex-top);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        cursor: pointer;
    }
}
.m_side_bar{
    position: fixed;
    width: 260px;
    height: 100vh;
    z-index: var(--zIndex-middle);
    background-color: var(--color-white);

    &.open {
        left: 0;
        transition: 0.5s ease;
    }
    &.close{
        left: -260px;
        transition: 0.5s ease;
    }

    .side_bar_main {
        z-index: var(--zIndex-middle);
        border-bottom: 1px solid var(--color-light-gray);
        position: relative;
        width: 100%;
        height: fit-content;
        padding: var(--padding-default);
        background-color: var(--color-white);

        .side_logo {
            font-size: calc(var(--font-large) * 2);

            .hamburger_btn {
                padding: var(--padding-default);
                font-size: calc(var(--font-large) * 2);

                i {
                    padding-right: var(--padding-micro);
                }
            }
        }

        .function_list {
            .follow_btn,
            .recommend_btn {
                padding: var(--padding-default);
                padding-top: var(--padding-samll);
                font-size: var(--font-largest);

                i {
                    color: black;
                    padding-right: var(--padding-big);
                }
            }
            .follow_btn.active,
            .recommend_btn.active {
                color: #ff7b90;

                i {
                    color: #ff7b90;
                }
            }
        }

        .login_btn {
            margin: var(--padding-big) 0;
            width: 100%;
            height: 50px;
            background-color: #ff7b90;
            border-radius: 5px;
            font-size: var(--font-medium);
            color: white;
        }
    }

    .side_bar_info{
        padding: var(--padding-big);
        position: relative;
        width: 100%;
        height: fit-content;

        .info_title{
            display: flex;
            color: var(--color-light-gray);
            padding-bottom: var(--padding-small);
        }
        ul{
            display: flex;
            flex-direction: column;

            button{
                padding-bottom: var(--padding-default);
                font-size: var(--font-defualt);
                font-weight: bold;
            }
        }
    }

}