.login_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: var(--zIndex-top);

  .login_form{
    width: 450px;
    height: 600px;
    background-color: var(--color-white);
    border-radius: 15px;

    .login_top_btn{
      padding: var(--padding-default);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 50px;

      i{
        font-size: var(--font-large);
      }
    }

    .login_main{
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;


      .login_email_form,
      .login_join_form{
        position: relative;
        top: 10px;
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
          padding-bottom: 20px;
        }

        button{
          margin-top: 40px;
          width: 300px;
          height: 40px;
          background-color: var(--color-gray);
          color: var(--color-white);

          &.active{
            background-color: var(--color-pink);
          }
        }
        label{
          padding-top: 10px;
          display: flex;
          align-items: center;
          margin : 0 0 0 10px;
        }

        span{
          display: flex;
          align-items: center;
          margin : 5px 0 15px 10px;
          font-size: var(--font-small);
        }

        h5{

          display: flex;
          align-items: center;
          margin: 5px 0 15px 10px;
          font-size: var(--font-small);
        }

        input{
          display: flex;
          margin: 0 10px;
          width: 300px;
          height: 40px;
          background-color: rgba(0,0,0,0.1);
          border: none;
          padding-left: 10px;

          &:focus{
            border: 1px solid var(--color-pink);
          }
        }

      }

      .login_type_select{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        ul{
          li{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 40px;
            margin: 20px 0;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 15px;

            button{
              padding: 10px;
              width: 300px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 700;
            }
          }
        }
      }
    }

    .login_bottom_btn{
      border-top: 1px solid var(--color-gray);
      position: relative;
      bottom: 0;
      width: 100%;
      height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;

      span{
        font-weight: 100;
        font-size: var(--font-defualt);

        button{
          color: var(--color-pink);
          font-size: var(--font-defualt);
        }
      }
    }
  }
}