:root {
  --color-black: #000000;
  --color-light-black:#41413F;
  --color-pink: #ff375b;
  --color-light-pink:#ff7b90;
  --color-gray:#A2A2A2;
  --color-light-gray: rgba(241, 241, 242, 0.5);
  --color-beige:#F1EFE9;
  --color-light-beige:#E8E5E3;
  --color-white: rgba(255, 255, 255);
  --m-font-largest:24px;
  --m-font-large:18px;
  --m-font-defualt:16px;
  --m-font-medium:14px;
  --m-font-small:12px;
  --m-font-micro:10px;
  --m-padding-big:16px;
  --m-padding-default:12px;
  --m-padding-small:8px;
  --m-padding-micro:4px;
  --m-zIndex-popup:100;
  --m-zIndex-top:70;
  --m-zIndex-topNav:60;
  --m-zIndex-videoComment:55;
  --m-zIndex-videoBtn:50;
  --m-zIndex-sideNav:50;
  --m-zIndex-video:40;
  --m-zIndex-middle:30;
  --m-zIndex-bottomNav:0;
  --font-largest:30px;
  --font-large:18px;
  --font-defualt:16px;
  --font-medium:14px;
  --font-small:12px;
  --font-micro:10px;
  --padding-large:20px;
  --padding-default:18px;
  --padding-small:14px;
  --padding-micro:10px;
  --zIndex-top:100;
  --zIndex-topNav:90;
  --zIndex-sideNav:80;
  --zIndex-middle:50;
  --zIndex-bottomNav:0;
}

*{
  font-family: 'Arial';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: var(--m-zIndex-middle);
}
body{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

ul{
  list-style: none;
}
button{
  outline: none;
}
button:active{
  outline:none;
}

textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

button{
  border: none;
  background-color: transparent;
  font-size: var(--m-font-medium);
  cursor: pointer;
}

a{
  text-decoration: none;
}