@import '@fontsource/fira-mono';

:root {
    --color-black: #000000;
    --color-light-black:#41413F;
    --color-pink:#D0ACAC;
    --color-gray:#A2A2A2;
    --color-light-gray:#CFCFCD;
    --color-beige:#F1EFE9;
    --color-light-beige:#E8E5E3;
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
    --padding-default:12px;
    --padding-samll:8px;
    --padding-micro:4px;
    --zIndex-top:100;
    --zIndex-middle:50;
    --zIndex-bottom:0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: var(--zIndex-middle);
}
body{
    height: 100vh;
}

ul{
    list-style: none;
}
button{
    border: none;
    background-color: transparent;
    font-size: var(--font-medium);
    cursor: pointer;
}

header {
    position: fixed;
    z-index: var(--zIndex-top);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-default);
    background-color: transparent;


    button{
        font-size: var(--font-large);
        color:var(--color-light-beige)
    }

    .hamburger_btn{

    }

    .function_list{
        display: flex;
        font-size: var(--font-large);
    //color: var(--text-color);

        li{
            display: flex;
            margin-right: var(--padding-default) ;
        }

        .follow_btn,
        .recommend_btn{
            color: var(--color-gray);
        }

        button.active{
            color: var(--color-light-beige);
            text-decoration-line:underline;
            text-underline-offset : 10px;
        }
    }
}

.bottom_nav{
    height: 50px;
    background-color: var(--color-black);
    position: fixed;
    width: 100%;
    bottom: 0;

    .bottom_nav_btn_list{
        display: flex;
        justify-content: space-around;
        margin: var(--padding-micro) 0;

        button{
            display: flex;
            flex-direction: column;
            font-size: var(--font-medium);
            color: var(--color-light-beige);
            margin:0 auto;
            align-items: center;

            i{
                padding: 5px;
                width: 100%;
                height: 100%;
                font-size: var(--font-large);
            }


        }
        img{
            filter:invert(99%) sepia(1%) saturate(638%) hue-rotate(323deg) brightness(89%) contrast(105%);
            width: 40px;
            height: 40px;
        }
    }
}
.video_section {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    width: 100%;
    margin: 0;

    .video_view{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: relative;
        width: 100%;
    }

    video{
        width: 100%;
        margin: auto;
    }

    .video_blur_screen{
        z-index: var(--zIndex-bottom);
        position: absolute;
        width: 100%;
        height: 100vh;
        -o-filter: blur(15px);
        filter: brightness(20%) opacity(90%);
    }

    .play_btn {
        z-index: var(--zIndex-top);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        cursor: pointer;
    }
}