:root {
    --color-black: #000000;
    --color-light-black:#41413F;
    --color-pink:#ff7b90;
    --color-gray:#A2A2A2;
    --color-light-gray:#CFCFCD;
    --color-beige:#F1EFE9;
    --color-light-beige:#E8E5E3;
    --color-white: rgba(250, 250, 250);
    --font-largest:24px;
    --font-large:18px;
    --font-defualt:16px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
    --padding-big:16px;
    --padding-default:12px;
    --padding-small:8px;
    --padding-micro:4px;
    --zIndex-top:100;
    --zIndex-topNav:90;
    --zIndex-sideNav:80;
    --zIndex-middle:50;
    --zIndex-bottomNav:0;
}

*{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: var(--zIndex-middle);
}
body{
    height: 100vh;
}

ul{
    list-style: none;
}

button{
    border: none;
    background-color: transparent;
    font-size: var(--font-medium);
    cursor: pointer;
}

a{
    text-decoration: none;
}